.footer {
    margin-top: 0px; //100px
    background: #8741fe;
    .ulMenu {
        a {
            color: white;
            border-radius: 5px;
        }
        a:hover {
            background: white;
            color: #8741fe;
        }
    }
    .ulRedes {
        a {
            color: white;
            font-size: 40px;
            transition: all 0.3s ease;
        }
        a:hover {
            font-size: 50px;
        }
    }
    .ulContacto {
        a {
            color: white;
            border-radius: 5px;
        }
        a:hover {
            background: white;
            color: #8741fe;
        }
    }
}