<section class="container">

    <div class="row d-flex  justify-content-end">

        <div class="card col-4">

            <div class="card-body">

                <form class="">

                    <label for="Correo" class="form-label mt-2">Correo:</label>
                    <input type="text" class="form-control" id="Correo" placeholder="Escribe tu Correo" required>

                    <label for="Contraseña" class="form-label mt-2">Contraseña:</label>
                    <input type="password" class="form-control" id="Contraseña" placeholder="Escribe tu contraseña" required>

                    <div class="mt-2 d-flex">
                        <a class="" href="">¿Has olvidado la contraseña?</a>
                    </div>


                    <div class="d-flex justify-content-center mt-4">
                        <input type="submit" value="Iniciar sesión" class="botonIniciar btn btn-block container-fluid">
                    </div>


                    <div class="mt-2 d-flex justify-content-center">
                        <a class="m-3" href="/Registrarse">Registrate aqui</a>
                    </div>

                </form>

            </div>
        </div>
    </div>

</section>