<section class="asistenciaViajero container-fluid" id="asistenciaViajero">

    <div class="row">

        <div class="info d-flex align-items-center col-12 col-sm-6">

            <div class="divContenido d-flex flex-column p-2">

                <div>
                    <h2 class="text-center mb-4">Asistencia al Viajero</h2>
                </div>

                <p class="text-justify" style="text-align: justify !important;">
                    <em>Te acompañamos en cada etapa de tu viaje, ayudamos a los usuarios en cada etapa de su viaje, conocemos la importancia de estar presentes brindándole información precisa y de utilidad, ponemos a disposición nuestro equipo de profesionales para solucionar cualquier inconveniente durante un viaje.</em>
                </p>

            </div>

        </div>

        <div class="col-12 col-sm-6">
            <img class="img-fluid" src="/assets/Imagenes/Fotos/viajera2.jpg" alt="">
        </div>

    </div>

</section>

<section class="asistenciaMedica container-fluid" id="asistenciaMedica">

    <div class="row">

        <div class="d-flex justify-content-center col-12 col-sm-6">
            <img class=" img-fluid" src="/assets/Imagenes/Fotos/doctora1.png" width="400" height="500px">
        </div>

        <div class="info d-flex align-items-center  col-12 col-sm-6">

            <div class="divContenido d-flex flex-column  p-2">

                <div>
                    <h2 class="text-center mb-4">Asistencia Medica</h2>
                </div>

                <p class="text-justify" style="text-align: justify !important;">

                    <em>Somos una compañía que ofrece planes de salud accesibles que incluyen servicios y seguros de calidad para proteger frente a los malestares del día a día, enfermedades comunes y emergencias médicas.</em>
                </p>

                <p class="text-justify" style="text-align: justify !important;">
                    <em>Somos la primera plataforma de seguros de emergencia y asistencia médica inmediata enfocada en apoyar a quienes han emigrado para que puedan seguir cuidando a sus seres queridos en sus países de origen, sin importar las distancias.</em>
                </p>

                <p class="text-justify" style="text-align: justify !important;">
                    <em>Tenemos más de 18 años de experiencia trabajando en cuidar la salud de las personas y, durante nuestra trayectoria, hemos desarrollado sólidas alianzas en la región, para poder brindar el mejor seguro para emergencias médicas con atención médica inmediata de Latinoamérica.</em>
                </p>

            </div>

        </div>

    </div>

</section>

<section class="asistenciaFuneraria container-fluid" id="asistenciaFuneraria">

    <div class="row">

        <div class="info d-flex align-items-center col-12 col-sm-6">

            <div class="divContenido d-flex flex-column pb-4 mt-5">

                <div>
                    <h2 class="text-center mb-4">Tu Mascota</h2>
                </div>

                <p class="text-justify" style="text-align: justify !important;">
                    <em>Considera TODOS los escenarios posibles en los que sucede un fallecimiento, evitando que los dolientes se expongan a problemas en tiempos de aflicción.</em>
                </p>

                <p class="text-justify" style="text-align: justify !important;">
                    <em><strong>Trasporte:</strong> Recolección de los restos de la mascota, del domicilio o veterinaria, dentro de la ciudad de residencia, donde el servicio PETS Solution Prevision está habilitado.</em>
                </p>

                <p class="text-justify" style="text-align: justify !important;">
                    <em><strong>Cremacion:</strong> Preparación, cremación, cremulación de forma individual. Urna básica para cenizas, y constancia de cremación.</em>
                </p>

                <p class="text-justify" style="text-align: justify !important;">
                    <em><strong>Asistencia de Duelo:</strong> Contención emocional y manejo del proceso de duelo; 3 sesiones gratuitas.</em>
                </p>

            </div>

        </div>

        <!--div class="divImg col-12 col-sm-6 d-flex">
            <img class="container-fluid img-fluid" src="/assets/Imagenes/Fotos/perro.jpg" alt="">
        </div-->

    </div>

</section>