<section class="container">

    <div class="row d-flex  justify-content-end">

        <div class="card col-4">

            <div class="card-body">

                <form class="">

                    <label for="Nombres" class="form-label mt-2">Nombre:</label>
                    <input type="text" class="form-control" id="Nombres" placeholder="Escribe tu nombre" required>

                    <label for="Apellidos" class="form-label mt-2">Apellido:</label>
                    <input type="text" class="form-control" id="Apellidos" placeholder="Escribe tu apellido" required>

                    <label for="Correo" class="form-label mt-2">Correo:</label>
                    <input type="text" class="form-control" id="Correo" placeholder="Escribe tu correo" required>

                    <label for="Contraseña" class="form-label mt-2">Contraseña:</label>
                    <input type="password" class="form-control" id="Cntraseña" placeholder="Escribe tu contraseña" required>

                    <div class="d-flex justify-content-center mt-4">
                        <input type="submit" value="Registrarse" class="botonIniciar btn btn-block container-fluid">
                    </div>

                </form>

            </div>
        </div>
    </div>

</section>